* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
<style type="text/css">
        .images{
            width:100%;
            margin-left: ;
            background: ;
            display: flex;
            }

header {
    background-color: skyblue;
    color: white;
    text-align: center;
    padding: 100px;
}
body{
    background:#ff5733 ;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;/* lien en blanc */
    text-decoration: none;
}

.info .prix {
    content: center;
     padding-right: 35px;
    margin-right: 35px;


.hero img {
    width: 50PX;
}

.main {
    padding: 20px;
}

.menu-item {
margin-bottom: 20px;
}

.menu-item img {
    width: 100%;


.gallery img {
    width: calc(33% - 10px);
    margin: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px
}
img {
    padding: 10;
    padding-inline: 10;
}